.product-card {
    border: 0;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,.06);
    transition: .2s transform, .2s box-shadow;
    margin: 0 auto;
}
.product-img {
    border-radius:16px;
    aspect-ratio: 1/1;
    display:flex; 
    align-items:center; 
    justify-content:center; 
    overflow:hidden;
}
.product-img img {
    width: 70%;
    height: auto;
    object-fit:contain;
}
.sub {
    color:#6b7280; 
    font-size:.9rem;
}
.title {
    font-weight:700;
}
.price {
    font-weight: 700;
}
.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 28px rgba(0,0,0,.10);
}
.add-cart {
    position:absolute;
    bottom:10px; left:10px;
    width:38px; height:38px;
    display:flex; align-items:center; justify-content:center;
    cursor:pointer;
    transition:.25s ease;
}
.add-cart img {
    width:22px; height:22px;
}
.page-control { 
    color:#000000; 
    border-radius:10px;
    padding:8px 14px; 
    display:flex; 
    align-items:center; 
    gap:10px;
    width:fit-content; 
    margin:auto;
    box-shadow:0 2px 8px rgba(0,0,0,.3);
}
.page-control button {
    background:#ffffff; 
    color:#000000; border:none; 
    border-radius:6px;
    width:34px; 
    height:34px; 
    display:flex; 
    align-items:center; 
    justify-content:center;
    transition:.2s;
}
.page-label { 
    font-size:.9rem; opacity:.8; margin-bottom:2px;
}
select:focus { 
    outline:none; 
    box-shadow:0 0 0 2px #ffffff33; }
.banner-card {
    border:0;
    border-radius:20px;   
    overflow:hidden;
    box-shadow:0 6px 20px rgba(0,0,0,.06);
}
.banner-img {
    width:100%;
    display:block;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 100%;
}
.product-img-eve {
    border-radius:16px;
    aspect-ratio: 1/1;
    display:flex; 
    justify-content:center; 
    overflow:hidden;
}
.banner-img-1 {
    width:100%;
    display:block;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 100%;
}